/* You can add global styles to this file, and also import other style files */

body {
    background-color: darkslategray;
    color: white;
    font-family: 'Montserrat', sans-serif;

    .card {
        border: none;
        margin-bottom: 5px;
    }

    .alert {
        width: 100%;
        text-align: center;
        padding: 1.5rem 3.5rem;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .modal-dialog {
        color: darkslategray;
    }
}